.container, .container > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container[mode=sidebar] {
    padding: 0 50px;
}

.container[mode=modal] {
    padding: 30px;
}

.container[mode=sidebar] > div > .list {
    height: 62%;
}

.container[mode=modal] > div > .list {
    height: 280px;
}

.empty {
    padding: 60px 20px 20px;
}

.empty > div {
    width: 120px;
    margin-bottom: 25px;
}

.empty > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: fit-content;
    margin-top: 40px;
}

.empty > a > span {
    height: 25px;
    margin-right: 5px;
}

.empty > a::after {
    left: 1px;
}

.list {
    overflow-y: scroll;
    width: 100%;

    margin-top: 10px;

    scrollbar-width: 0;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.list::-webkit-scrollbar {
    width: 0;
}

.item {
    width: 100%;
    padding: 10px 0 15px;
    border-bottom: 1px solid var(--grey002);
}

.item > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item > div > h4 {
    flex: 1;
    margin: 0 10px;
}

.item > p {
    font-style: italic;
    margin: 0 10px;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    margin: 15px 0 5px;
}

.subtotal > h4 > span {
    margin-left: 15px;
}

@media screen and (max-width: 480px) {
    .container[mode=sidebar] {
        padding: 0 32px;
    }
}